*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/gradle.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/runConfigurations.xml

projectFilesBackup/.idea/workspace.xml

.idea/codeStyleSettings.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

java_pid21345.hprof

.idea/dictionaries/hcc.xml
.idea/workspace.xml___jb_tmp___
